### Jhanelle Williams
##### November 10, 2015
##### Final Project

## Statistis for my data

In [3]:
# import libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#stats library

import statsmodels.api as sm
import scipy

#T-test is imported to complete the statistical analysis

from scipy.stats import ttest_ind

from scipy import stats

#The function below is used to show the plots within the notebook

%matplotlib inline

## Loading Data using Pandas

In [6]:
# Load the data set using the pandas library. The delimeter with white space is chosen as the raw data follows this trend 
#of white spaces

data=pd.read_csv('CO2_behav.dat', delimiter=' ')

In [7]:
#Show only the first 7 rows of the data

data.head(7)

,date,plate,time,strain,frame,ID,persistance,area,speed,angularspeed,...,bias,pathlen,curve,dir,loc_x,loc_y,vel_x,vel_y,orient,crab
0,20120731,20120731_120745,15.039,N2,0,1,234.9,0.102789,NaN,NaN,...,1,0.000,21.0,0,13.3322,36.2338,NaN,NaN,34.2,NaN
1,20120731,20120731_120745,15.080,N2,1,1,234.9,0.101331,NaN,NaN,...,1,0.002,19.5,0,13.3333,36.2354,NaN,NaN,34.3,NaN
2,20120731,20120731_120745,15.125,N2,2,1,234.9,0.099873,NaN,NaN,...,1,0.007,20.0,0,13.3378,36.2375,NaN,NaN,34.3,NaN
3,20120731,20120731_120745,15.160,N2,3,1,234.9,0.100602,NaN,NaN,...,1,0.008,22.3,0,13.3386,36.2387,NaN,NaN,34.3,NaN
4,20120731,20120731_120745,15.198,N2,4,1,234.9,0.102060,NaN,NaN,...,1,0.011,23.7,0,13.3411,36.2405,NaN,NaN,34.3,NaN
5,20120731,20120731_120745,15.240,N2,5,1,234.9,0.102789,NaN,NaN,...,1,0.017,23.0,0,13.3460,36.2427,NaN,NaN,34.3,NaN
6,20120731,20120731_120745,15.280,N2,6,1,234.9,0.102789,NaN,NaN,...,1,0.019,22.5,0,13.3474,36.2450,NaN,NaN,34.4,NaN

In [9]:
#Display the last 7 rows of the data set
data.tail(7)

,date,plate,time,strain,frame,ID,persistance,area,speed,angularspeed,...,bias,pathlen,curve,dir,loc_x,loc_y,vel_x,vel_y,orient,crab
1150378,20120807,20120807_160710,242.880,MX1027,5641,468,27.6,0.067797,NaN,NaN,...,1,3.123,21.0,0,37.2531,47.1811,NaN,NaN,-126.2,NaN
1150379,20120807,20120807_160710,242.919,MX1027,5642,468,27.6,0.067797,NaN,NaN,...,1,3.127,20.7,0,37.2554,47.1842,NaN,NaN,-126.1,NaN
1150380,20120807,20120807_160710,242.959,MX1027,5643,468,27.6,0.067068,NaN,NaN,...,1,3.133,21.3,0,37.2591,47.1887,NaN,NaN,-125.8,NaN
1150381,20120807,20120807_160710,242.999,MX1027,5644,468,27.6,0.067068,NaN,NaN,...,0,3.133,21.3,0,37.2601,47.1896,NaN,NaN,-125.6,NaN
1150382,20120807,20120807_160710,243.040,MX1027,5645,468,27.6,0.066339,NaN,NaN,...,0,3.133,21.2,0,37.2629,47.1929,NaN,NaN,-125.3,NaN
1150383,20120807,20120807_160710,243.081,MX1027,5646,468,27.6,0.064152,NaN,NaN,...,0,3.133,21.3,0,37.2669,47.1975,NaN,NaN,-125.1,NaN
1150384,20120807,20120807_160710,243.120,MX1027,5647,468,27.6,0.064152,NaN,NaN,...,0,3.133,21.2,0,37.2706,47.2021,NaN,NaN,-124.7,NaN

In [5]:
# Commans used to check the title names in each column
data.dtypes

date              int64
plate            object
time            float64
strain           object
frame             int64
ID                int64
persistance     float64
area            float64
speed           float64
angularspeed    float64
length          float64
rellength       float64
width           float64
relwidth        float64
aspect          float64
relaspect       float64
midline         float64
morphwidth      float64
kink            float64
bias            float64
pathlen         float64
curve           float64
dir             float64
loc_x           float64
loc_y           float64
vel_x           float64
vel_y           float64
orient          float64
crab            float64
dtype: object

### Hypothesis  and Questions

..........

## Type of Statistics to perform on the data



a) Liner Regression
Variables considered for this statistical method are area and speed

b) Two sampled T-test: 
Variables considered for this statistical method are strain and speed



#### General Code used to calculate the two sampled t-test

-> rvs1=stats.norm.rvs(loc=mean1, scale=variance, size= n)

-> rvs2=stats.norm.rvs(loc=mean2, scale=variance2, size= n)

--> stats.ttest_ind(rvs1,rvs2, equal_var=False)

In [6]:
# Here we extract only two columns from the data as these are the main variables for the statistcal analysis

strain_df=data[['strain','speed']]
strain_df.head()

  strain  speed
0     N2    NaN
1     N2    NaN
2     N2    NaN
3     N2    NaN
4     N2    NaN

In [7]:
# Eliminate NaN from the dataset 

strain_df=strain_df.dropna()
strain_df.head()

   strain   speed
7      N2  0.0698
8      N2  0.0668
9      N2  0.0720
10     N2  0.0783
11     N2  0.0793

In [8]:
#Resample the data to group by strain

strain_resampled=strain_df.groupby('strain')
strain_resampled.head()

        strain   speed
7           N2  0.0698
8           N2  0.0668
9           N2  0.0720
10          N2  0.0783
11          N2  0.0793
102025  MX1027  0.1134
102026  MX1027  0.0971
102027  MX1027  0.0919
102028  MX1027  0.0946
102029  MX1027  0.0982
217575  CHE-10  0.0947
217576  CHE-10  0.0910
217577  CHE-10  0.0882
217578  CHE-10  0.0872
217579  CHE-10  0.0846
864308   CHE10  0.1293
864309   CHE10  0.1283
864310   CHE10  0.1258
864311   CHE10  0.1276
864312   CHE10  0.1229

In [10]:

CHE10_strain=strain_df.groupby('strain').get_group('CHE10')
CHE10_strain.head()

       strain   speed
864308  CHE10  0.1293
864309  CHE10  0.1283
864310  CHE10  0.1258
864311  CHE10  0.1276
864312  CHE10  0.1229

In [11]:

len(CHE10_strain)

155113

In [12]:
MX1027_type=strain_df.groupby('strain').get_group('MX1027')
MX1027_type.head()

        strain   speed
102025  MX1027  0.1134
102026  MX1027  0.0971
102027  MX1027  0.0919
102028  MX1027  0.0946
102029  MX1027  0.0982

In [13]:
len(MX1027_type)

244428

In [14]:
strain_resampled.mean()

           speed
strain
CHE-10  0.054600
CHE10   0.066482
MX1027  0.091991
N2      0.103593

In [15]:
# Variance function defined using a loop 

def variance(name):
    var=(name.std())**1/2
    return (var)

In [17]:
#Print variance for wild_type

variance(CHE10_strain)

speed    0.030493
dtype: float64

In [18]:
# #Print variance for mutant_strain

variance(MX1027_type)

speed    0.034402
dtype: float64

##### Here we substitute the necessary values calculate to put in the general equation for t-test

## Linear Regression

In [27]:
# This is used to only get 2 columns

rate_of_speed=data[['time','speed']]
rate_of_speed

            time   speed
0         15.039     NaN
1         15.080     NaN
2         15.125     NaN
3         15.160     NaN
4         15.198     NaN
5         15.240     NaN
6         15.280     NaN
7         15.321  0.0698
8         15.361  0.0668
9         15.398  0.0720
10        15.441  0.0783
11        15.481  0.0793
12        15.522  0.0799
13        15.563  0.0767
14        15.600  0.0799
15        15.641  0.0896
16        15.682  0.0911
17        15.723  0.0937
18        15.763  0.0919
19        15.801  0.0881
20        15.841  0.0910
21        15.882  0.0869
22        15.922  0.0814
23        15.963  0.0748
24        16.002  0.0714
25        16.041  0.0728
26        16.083  0.0716
27        16.124  0.0667
28        16.165  0.0641
29        16.204  0.0625
...          ...     ...
1150355  241.955  0.1739
1150356  241.996  0.1737
1150357  242.036  0.1741
1150358  242.076  0.1720
1150359  242.116  0.1718
1150360  242.157  0.1748
1150361  242.197  0.1812
1150362  242.238  0.1765
1150363  242.278  0.1719
1150364  242.317  0.1726
1150365  242.357  0.1697
1150366  242.398  0.1710
1150367  242.438  0.1702
1150368  242.479  0.1674
1150369  242.518  0.1709
1150370  242.556  0.1659
1150371  242.599  0.1614
1150372  242.639  0.1574
1150373  242.679  0.1521
1150374  242.719  0.1496
1150375  242.756  0.1385
1150376  242.799  0.1313
1150377  242.839     NaN
1150378  242.880     NaN
1150379  242.919     NaN
1150380  242.959     NaN
1150381  242.999     NaN
1150382  243.040     NaN
1150383  243.081     NaN
1150384  243.120     NaN

[1150385 rows x 2 columns]

In [32]:
# this gives the mean for every 10secs of the data

rate_of_speed.index= pd.to_datetime(rate_of_speed.index, unit='s')
rate_of_speed.head(n=20)

                       time   speed
1970-01-01 00:00:00  15.039     NaN
1970-01-01 00:00:01  15.080     NaN
1970-01-01 00:00:02  15.125     NaN
1970-01-01 00:00:03  15.160     NaN
1970-01-01 00:00:04  15.198     NaN
1970-01-01 00:00:05  15.240     NaN
1970-01-01 00:00:06  15.280     NaN
1970-01-01 00:00:07  15.321  0.0698
1970-01-01 00:00:08  15.361  0.0668
1970-01-01 00:00:09  15.398  0.0720
1970-01-01 00:00:10  15.441  0.0783
1970-01-01 00:00:11  15.481  0.0793
1970-01-01 00:00:12  15.522  0.0799
1970-01-01 00:00:13  15.563  0.0767
1970-01-01 00:00:14  15.600  0.0799
1970-01-01 00:00:15  15.641  0.0896
1970-01-01 00:00:16  15.682  0.0911
1970-01-01 00:00:17  15.723  0.0937
1970-01-01 00:00:18  15.763  0.0919
1970-01-01 00:00:19  15.801  0.0881

In [ ]:
#This is used to re-group some of the data

rate_of_speed_resampled=rate_of_speed.groupby('time').resample('10s', how='mean')

In [34]:
# This is used to print the data set
rate_of_speed_resampled.head()

NameError: name 'rate_of_speed_resampled' is not defined

In [35]:
#create linear model- ols- ordinary least squares
#stats models have formula calles formula

lm= sm.formula.ols(formula='speed ~ time', data= rate_of_speed_resampled).fit()

NameError: name 'rate_of_speed_resampled' is not defined

In [ ]:
# This gives the beta values, the gradient is the time value

lm.params

In [ ]:
# to use the predict function we make a data frame, therefore below we have data frame that is used to make dataframe

x_new=pd.DataFrame({'time': range(1,700)})

In [ ]:
list(range(1,10))

In [ ]:
x_new.head()

In [ ]:
# create predict function to calculate linear model

y_preds=lm.predict(x_new)
y_preds[1:10]

In [ ]:
#now we want to plot the data, therefore
speed_resampled.plot(kind='scatter', x='time', y="speed")

plt.xlim(0,700)
plt.ylim(0, 0.3)

plt.plot(x_new, y_preds, c='red', linewidth=3)

In [ ]:
# way to get information

# This also shows that is only a 18.6% of variance in the data

print(lm.summary())

In [ ]:
speed_resampled.hist(column='speed', bins=50)

# This is used to show the data, we can see that the data is not normal hence a linear regression is not the most suitable
plt.show()

In [ ]:
#This is subsetting thee data
# the or is the straight bar symbol
beg_end = rate_of_speed_resampled[(rate_of_speed_resampled.time==10)|(rate_of_speed_resampled.time==590)]

In [ ]:
beg_end.head()

In [ ]:
# this shows the difference in the mean at both the beginning and end 
beg_end.boxplot(by='time', column='speed')
plt.show()

In [ ]:
# the distribution for the beginning and the end

beg_end.hist(by= 'time', column='speed', bins= 25)
plt.show()

In [ ]:
beg = beg_end.speed[beg_end.time==10]
end= beg_end.speed[beg_end.time==590]

In [ ]:
#The p value is small so we reject the null hypothesis

scipy.stats.mstats.kruskalwallis(beg, end)